@import url(http://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic,latin);
@import url(http://fonts.googleapis.com/css?family=Scada:400italic&subset=cyrillic,latin);
@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.page-head {
	background: #1E90FF;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-head h1, .page-head  h1 a, .page-head  h1 a:visited, .page-head  h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.page-head h1:hover, .page-head  h1 a:hover{
	color:#0000FF;
}

#head-text {
	font-family: 'Russo One', sans-serif;
	text-align: center;
	
}

.menu {
	float: left;
	background: #1E90FF;
	width: 230px;
	float: left;
	text-align: center;
}

.menu ul li {
	float: left;
	position: relative;
}

.menu li a {
	color:#ffffff;
	padding: 15 px 25 px;
	font-family: 'Scada', sans-serif;
	text-decoration: none;
	line-height: 30px;
	display: block;
}

.menu li a:hover {
	background:#F8F8FF;
	color:#0000FF;
	text-decoration: undeline;
}
#all {
	color: #0000FF;
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline;
	text-transform: uppercase;
}

.container p{
	color:#ffffff;
	background: #1E90FF;
	font-size: 25px;
}

#f {
	color:gray
}

#you {
	background: #ffffff;
	color: black;
}

#h {
	font-family: font-family: 'Cuprum', sans-serif;
}